dialog{
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    border-color: transparent;
    align-content: center;
    justify-content: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  z-index: 1000;
}


.dialog-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 24px; 
}

.dialog-sub-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 20px; 
}

.dialog-button-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-self:center;
    gap: 5px;
}

.dialog-button{
    width: 100%;
    max-width: 127;
    border-radius: 5px;
    border-color: transparent;
}

#cancel-button{
    background-color: black;
    color: white;
}


#confirm-button{
    background-color: rgba(196, 165, 250, 1);
}