dialog{
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    border-color: transparent;
    align-content: center;
    justify-content: center;
    padding: 20px 10px;
    box-sizing: border-box;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  z-index: 1000;
}

.dialog-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dialog-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 24px; 
    margin: 0;  
}

.dialog-sub-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 20px; 
    margin: 0;  
}

.dialog-button-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-self:center;
    justify-content: space-between; 
    gap: 5px;
}

.dialog-button{
    width: 100%;
    max-width: 127px;
    min-height: 30px;
    border-radius: 5px;
    border-color: transparent;
}

#cancel-button{
    background-color: black;
    color: white;
}


#confirm-button{
    background-color: #2C3E50;
    color: white;
}