.round-button{
    background-color: #2E8B77;
    color: white;
    width: 138px;
    height: 39px;
    opacity: 1;
    border-radius: 16px;     
    border-color: transparent;   
}

.round-button:disabled{
    background-color: #256B5E;
}

.round-button:hover{
    background-color: #256B5E;
}