header {
    width: 100%;
    max-width: 400px;
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    font-family: "SUIT", "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #4A4A4A;
    border-bottom: 1px solid #E0E0E0;
    letter-spacing: -0.4px;
    transition: all 0.3s ease;
}

.header-container {
  width: 100%;
  max-width: 400px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back-button{
  visibility: hidden;
  left: 16px;
  background: none;
  border: transparent;
  background-color: transparent;
  font-size: 24px;
}

.profile-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%; 
  overflow: hidden;
  border: 1px solid #ccc;
}


.profile-button img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}


.profile-menu {
  display: none;
  position: absolute;
  top: 56px;
  right: calc((100vw - min(100vw, 400px))/2) ;
  z-index: 999; 
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.profile-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.profile-menu.show {
  display: block;
}

.profile-menu li {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: #e8e8e8;
  margin: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.profile-menu li:hover {
  background-color: #dcdcdc;
}

.hidden {
  display: none;
}