html, body {
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  justify-self: center;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 400px;
  align-self: center;
  justify-self: center;
    position: relative;
}

.sub-title-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.board-guide {
  text-align: center;
  font-family: "Pretendard", sans-serif;
  color: #2C3E50;
  margin: 25px 0 30px 0;
  line-height: 1.6;
}ã„´

.board-guide strong {
  color: #2E8B77; 
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
}

.float-button {
  position: fixed;
  bottom: 24px;
  right: calc((100vw - min(100vw, 400px))/2) ;
  z-index: 999;
}