html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(244, 245, 247, 1);
}

.container{
    width: 600px;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.sub-title-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.highlight {
  font-family: "Pretendard", sans-serif;    
  font-weight: 700;
  font-size: 24px;    
}

.sub-title{
font-family: "Pretendard", sans-serif;    
  font-weight: 400;
  font-size: 24px;  
  text-align: center;
}