html, body {
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  justify-self: center;
  align-items: center;
}

.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
    width: 100%;
    max-width: 400px;
}

.post-title-container{
    width:100%;
    text-align: start;
}

.post-title{
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 18px; 
}

.title-sub-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.post-info-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.nickname{
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 12px; 
}

.info{
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 14px; 
}

.post-update-button{
    border-radius: 5px;
    border-color: transparent;
    background-color: #2E8B77;
    color: white;
}

.post-content-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

#post-created-at{
    text-align: end;
}

.post-image{
    width: 100%;
}

.content{
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 15px;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal; 
    width: 100%;
    text-align: start;
}

.post-count-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.comment-input-box{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}

#comment-submit-button{
    margin-top: 5px;
    align-self: flex-end;
}

.comment-text{
  flex: 1;
  height: 100px;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

#comment-container{
    width: 100%;
    max-width: 400px;
    padding: 20px 0px;
}

.post-info-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
}

.counter-box{
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 4px;

    height: fit-content;
    border-radius: 10px;
    padding: 3px 5px;
    box-shadow: 0 2px 5px rgba(44, 62, 80, 0.15);
}